.Event {
  span {
    font-weight: 500 !important;
    font-size: 16px !important;
    color: #A9A9A9 !important;
  }
}

.Divider {
  margin: 0px !important;
}

.EventHeader {
  font-size: 2rem !important;
  text-decoration: underline !important;
}
