.Input {
  border-bottom: 1px solid #eff3f8 !important;

  &:focus > input {
      border-bottom: 1px solid #2185d0 !important;
      box-shadow: 0 1px 0 0 #2185d0 !important;
  }
}

.Input:focus {
  input {
    border-bottom: 1px solid #2185d0 !important;
    box-shadow: 0 1px 0 0 #2185d0 !important;
  }
}
